<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-schedule-heading">Create or edit a Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!schedule.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="schedule.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetBarrelQuantity">Target Barrel Quantity</label>
                    <input type="number" class="form-control" name="targetBarrelQuantity" id="field_targetBarrelQuantity"
                        [(ngModel)]="schedule.targetBarrelQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mashbill">Mashbill</label>
                    <select class="form-control" id="field_mashbill" name="mashbill" [(ngModel)]="schedule.mashbill" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mashbillOption.id === schedule.mashbill?.id ? schedule.mashbill : mashbillOption" *ngFor="let mashbillOption of mashbills; trackBy: trackMashbillById">{{mashbillOption.mashbillName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="schedule.customer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === schedule.customer?.id ? schedule.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.customerName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
