<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mashbillYeast">
            <h2><span>Mashbill Yeast</span> {{mashbillYeast.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{mashbillYeast.quantity}}</span>
                </dd>
                <dt><span>Yeast</span></dt>
                <dd>
                    <div *ngIf="mashbillYeast.yeast">
                        <a [routerLink]="['/yeast', mashbillYeast.yeast?.id, 'view']">{{mashbillYeast.yeast?.yeastCode}}</a>
                    </div>
                </dd>
                <dt><span>Mashbill</span></dt>
                <dd>
                    <div *ngIf="mashbillYeast.mashbill">
                        <a [routerLink]="['/mashbill', mashbillYeast.mashbill?.id, 'view']">{{mashbillYeast.mashbill?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mashbill-yeast', mashbillYeast.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
