<div>
    <h2 id="page-heading">
        <span>Mashbill Yeasts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mashbill-yeast" [routerLink]="['/mashbill-yeast/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Mashbill Yeast
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mashbillYeasts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Quantity</span></th>
            <th><span>Yeast</span></th>
            <th><span>Mashbill</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mashbillYeast of mashbillYeasts ;trackBy: trackId">
                <td><a [routerLink]="['/mashbill-yeast', mashbillYeast.id, 'view' ]">{{mashbillYeast.id}}</a></td>
                <td>{{mashbillYeast.quantity}}</td>
                <td>
                    <div *ngIf="mashbillYeast.yeast">
                        <a [routerLink]="['../yeast', mashbillYeast.yeast?.id, 'view' ]" >{{mashbillYeast.yeast?.yeastCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mashbillYeast.mashbill">
                        <a [routerLink]="['../mashbill', mashbillYeast.mashbill?.id, 'view' ]" >{{mashbillYeast.mashbill?.mashbillName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mashbill-yeast', mashbillYeast.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mashbill-yeast', mashbillYeast.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mashbill-yeast/'+ mashbillYeast.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
