<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-batch-heading">Create or edit a Batch</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!batch.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="batch.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proof">Proof</label>
                    <input type="number" class="form-control" name="proof" id="field_proof"
                        [(ngModel)]="batch.proof" required/>
                    <div [hidden]="!(editForm.controls.proof?.dirty && editForm.controls.proof?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.proof?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.proof?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_batchName">Batch Name</label>
                    <input type="text" class="form-control" name="batchName" id="field_batchName"
                        [(ngModel)]="batch.batchName" required/>
                    <div [hidden]="!(editForm.controls.batchName?.dirty && editForm.controls.batchName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.batchName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mashbill">Mashbill</label>
                    <select class="form-control" id="field_mashbill" name="mashbill" [(ngModel)]="batch.mashbill" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mashbillOption.id === batch.mashbill?.id ? batch.mashbill : mashbillOption" *ngFor="let mashbillOption of mashbills; trackBy: trackMashbillById">{{mashbillOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_schedule">Schedule</label>
                    <select class="form-control" id="field_schedule" name="schedule" [(ngModel)]="batch.schedule" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="scheduleOption.id === batch.schedule?.id ? batch.schedule : scheduleOption" *ngFor="let scheduleOption of schedules; trackBy: trackScheduleById">{{scheduleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
