<div>
    <h2 id="page-heading">
        <span>Batches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-batch" [routerLink]="['/batch/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Batch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="batches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Proof</span></th>
            <th><span>Date</span></th>
            <th><span>Batch Name</span></th>
            <th><span>Mashbill</span></th>
            <th><span>Schedule</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let batch of batches ;trackBy: trackId">
                <td><a [routerLink]="['/batch', batch.id, 'view' ]">{{batch.id}}</a></td>
                <td>{{batch.proof}}</td>
                <td>{{batch.date | date:'medium'}}</td>
                <td>{{batch.batchName}}</td>
                <td>
                    <div *ngIf="batch.mashbill">
                        <a [routerLink]="['../mashbill', batch.mashbill?.id, 'view' ]" >{{batch.mashbill?.mashbillName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="batch.schedule">
                        <a [routerLink]="['../schedule', batch.schedule?.id, 'view' ]" >{{batch.schedule?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/batch', batch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/batch', batch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'batch/'+ batch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
