<div>
    <h2 id="page-heading">
        <span>Yeasts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yeast" [routerLink]="['/yeast/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Yeast
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="yeasts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Yeast Name</span></th>
            <th><span>Yeast Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let yeast of yeasts ;trackBy: trackId">
                <td><a [routerLink]="['/yeast', yeast.id, 'view' ]">{{yeast.id}}</a></td>
                <td>{{yeast.yeastName}}</td>
                <td>{{yeast.yeastCode}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/yeast', yeast.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/yeast', yeast.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'yeast/'+ yeast.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
