<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Distilled - Enterprise Resource Planner</h1>
        <p class="lead"></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

        </div>

        <!-- <p>
            If you have any question on JHipster:
        </p> -->

        <ul>
            <li>Login is in the upper right corner!</li>
            <!-- <li><a href="" target="_blank" rel="noopener">Documentation is here</a></li> -->
        </ul>

        <!-- <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p> -->
    </div>
</div>
