<div>
    <h2 id="page-heading">
        <span>Lots</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lot" [routerLink]="['/lot/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Barrel Capacity</span></th>
            <th><span>Lot Name</span></th>
            <th><span>Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lot of lots ;trackBy: trackId">
                <td><a [routerLink]="['/lot', lot.id, 'view' ]">{{lot.id}}</a></td>
                <td>{{lot.barrelCapacity}}</td>
                <td>{{lot.lotName}}</td>
                <td>{{lot.location}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lot', lot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lot', lot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lot/'+ lot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
