<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mashbillGrain">
            <h2><span>Mashbill Grain</span> {{mashbillGrain.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{mashbillGrain.quantity}}</span>
                </dd>
                <dt><span>Grain</span></dt>
                <dd>
                    <div *ngIf="mashbillGrain.grain">
                        <a [routerLink]="['/grain', mashbillGrain.grain?.id, 'view']">{{mashbillGrain.grain?.grainName}}</a>
                    </div>
                </dd>
                <dt><span>Mashbill</span></dt>
                <dd>
                    <div *ngIf="mashbillGrain.mashbill">
                        <a [routerLink]="['/mashbill', mashbillGrain.mashbill?.id, 'view']">{{mashbillGrain.mashbill?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mashbill-grain', mashbillGrain.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
