<div>
    <h2 id="page-heading">
        <span>Mashbill Grains</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mashbill-grain" [routerLink]="['/mashbill-grain/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Mashbill Grain
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mashbillGrains">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Quantity</span></th>
            <th><span>Grain</span></th>
            <th><span>Mashbill</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mashbillGrain of mashbillGrains ;trackBy: trackId">
                <td><a [routerLink]="['/mashbill-grain', mashbillGrain.id, 'view' ]">{{mashbillGrain.id}}</a></td>
                <td>{{mashbillGrain.quantity}}</td>
                <td>
                    <div *ngIf="mashbillGrain.grain">
                        <a [routerLink]="['../grain', mashbillGrain.grain?.id, 'view' ]" >{{mashbillGrain.grain?.grainName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mashbillGrain.mashbill">
                        <a [routerLink]="['../mashbill', mashbillGrain.mashbill?.id, 'view' ]" >{{mashbillGrain.mashbill?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mashbill-grain', mashbillGrain.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mashbill-grain', mashbillGrain.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mashbill-grain/'+ mashbillGrain.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
